window {
    background-color: #1F1B1D;
    color: #C4DBE2;
}

window:backdrop {
    background-color: #1F1B1D;
    color: #C4DBE2;
}

scrollbar {
    background-color: #72898F;
}

scrollbar slider {
    background-color: #393638;
    border-radius: 4px;
}

scrollbar slider:hover {
    background-color: #6C7F64;
}

button {
    background: #1F1B1D;
    color: #C4DBE2;
    border: none;
    box-shadow: none;
}

entry {
    background-color: #393638;
    color: #C4DBE2;
    border: none;
}

button,
button:focus,
button:checked,
button:selected,
button:active,
button:backdrop,
button:focus:backdrop,
button:checked:backdrop {
    background: #1F1B1D;
    color: #C4DBE2;
    border: none;
    box-shadow: none;
    outline: none;
    -gtk-outline-radius: 0;
}