window {
    background-color: #181818;
    color: #A9A9A9;
}

window:backdrop {
    background-color: #181818;
    color: #A9A9A9;
}

scrollbar {
    background-color: #565656;
}

scrollbar slider {
    background-color: #313131;
    border-radius: 4px;
}

scrollbar slider:hover {
    background-color: #636363;
}

button {
    background: #181818;
    color: #A9A9A9;
    border: none;
    box-shadow: none;
}

entry {
    background-color: #313131;
    color: #A9A9A9;
    border: none;
}

button,
button:focus,
button:checked,
button:selected,
button:active,
button:backdrop,
button:focus:backdrop,
button:checked:backdrop {
    background: #181818;
    color: #A9A9A9;
    border: none;
    box-shadow: none;
    outline: none;
    -gtk-outline-radius: 0;
}