window {
    background-color: #0F0010;
    color: #E1B5EA;
}

window:backdrop {
    background-color: #0F0010;
    color: #E1B5EA;
}

scrollbar {
    background-color: #8F6298;
}

scrollbar slider {
    background-color: #332335;
    border-radius: 4px;
}

scrollbar slider:hover {
    background-color: #598268;
}

button {
    background: #0F0010;
    color: #E1B5EA;
    border: none;
    box-shadow: none;
}

entry {
    background-color: #332335;
    color: #E1B5EA;
    border: none;
}

button,
button:focus,
button:checked,
button:selected,
button:active,
button:backdrop,
button:focus:backdrop,
button:checked:backdrop {
    background: #0F0010;
    color: #E1B5EA;
    border: none;
    box-shadow: none;
    outline: none;
    -gtk-outline-radius: 0;
}