* {
  transition: none;
  box-shadow: none;
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 12.5px;
  color: #CFA6B2;
}

#waybar {
  margin-top: 14px;
  background: rgba(31,31,31, 0.8);
  border-radius: 12px;
  border: 2px solid #64786E;
  min-height: 0;
}

#workspaces {
  margin-top: 0;
  margin-left: 3px;
  color: transparent;
  padding: 0;
}

#workspaces button {
  margin: 4px 3px;
  padding: 0px 3px;
  background: transparent;
  border-radius: 12px;
  font-weight: 700;
}

#workspaces button.active {
  background-color: #64786E;
}

#workspaces button.active * {
  color: #1F1F1F;
}

#workspaces button.urgent * {
  color: #1F1F1F;
  background-color: #9E7F89;
}

#tray {
  margin: 3px 2px;
  border-radius: 12px;
  background-color: rgba(57,57,57, 0.4);
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid #393939;
}

#tray *:first-child {
  border-left: none;
}

#mode,
#battery,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#mpris,
#mpd,
#clock,
#bluetooth,
#temperature, 
#custom-power,
#custom-nvidia,
#custom-notifications {
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}

#clock {
  margin: 4px 2px;
}

#mpris * {
  min-width: 10px;
  font-size: 11px;
}

#bluetooth {
  font-size: 14px;
}

#custom-power {
  margin: 4px 5px 4px 1px;
  padding: 0 12px;
  min-width: 28px;
  min-height: 22px;
  background-color: #64786E;
  border-radius: 8px;
  min-width: 15px;
}

#custom-power label {
  margin: 0;
  padding: 0;
  min-width: 0;
}

#custom-notifications {
    color: #CFA6B2;
    font-size: 12px;
}

#custom-notifications:hover {
    color: #64786E;
}

#temperature.critical {
  color: #64786E;
}

#temperature {
  margin: 4px 2px;
  padding: 0 3px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}