* {
  transition: none;
  box-shadow: none;
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 12.5px;
  color: #F1B2BC;
}

#waybar {
  margin-top: 14px;
  background: rgba(22,0,0, 0.8);
  border-radius: 12px;
  border: 2px solid #379793;
  min-height: 0;
}

#workspaces {
  margin-top: 0;
  margin-left: 3px;
  color: transparent;
  padding: 0;
}

#workspaces button {
  margin: 4px 3px;
  padding: 0px 3px;
  background: transparent;
  border-radius: 12px;
  font-weight: 700;
}

#workspaces button.active {
  background-color: #379793;
}

#workspaces button.active * {
  color: #160000;
}

#workspaces button.urgent * {
  color: #160000;
  background-color: #48F1E5;
}

#tray {
  margin: 3px 2px;
  border-radius: 12px;
  background-color: rgba(46,24,25, 0.4);
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid #2E1819;
}

#tray *:first-child {
  border-left: none;
}

#mode,
#battery,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#mpris,
#mpd,
#clock,
#bluetooth,
#temperature, 
#custom-power,
#custom-nvidia,
#custom-notifications {
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}

#clock {
  margin: 4px 2px;
}

#mpris * {
  min-width: 10px;
  font-size: 11px;
}

#bluetooth {
  font-size: 14px;
}

#custom-power {
  margin: 4px 5px 4px 1px;
  padding: 0 12px;
  min-width: 28px;
  min-height: 22px;
  background-color: #379793;
  border-radius: 8px;
  min-width: 15px;
}

#custom-power label {
  margin: 0;
  padding: 0;
  min-width: 0;
}

#custom-notifications {
    color: #F1B2BC;
    font-size: 12px;
}

#custom-notifications:hover {
    color: #379793;
}

#temperature.critical {
  color: #379793;
}

#temperature {
  margin: 4px 2px;
  padding: 0 3px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}