* {
  transition: none;
  box-shadow: none;
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 12.5px;
  color: {{ foreground }};
}

#waybar {
  margin-top: 14px;
  background: rgba({{ background | rgb }}, 0.8);
  border-radius: 12px;
  border: 2px solid {{ color3 }};
}

#workspaces {
  margin: 0 3px;
  color: transparent;
}

#workspaces button {
  margin: 3px 0;
  padding: 0 4px;
}

#workspaces button.visible {
}

#workspaces button.focused {
  border-radius: 10px;
  background-color: rgba({{ color0 | rgb }}, 0.4);
}

#workspaces button.urgent {
  border-radius: 10px;
}

#workspaces button.urgent * {
  color: rgba({{ color1 | rgb }}, 0.8);
}

#tray {
  margin: 3px 2px;
  border-radius: 12px;
  background-color: rgba({{ color0 | rgb }}, 0.4);
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid {{ color0 }};
}

#tray *:first-child {
  border-left: none;
}

#mode,
#battery,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#mpris,
#mpd,
#clock,
#bluetooth,
#temperature, 
#custom-power,
#custom-nvidia,
#custom-notifications {
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}

#clock {
  margin: 4px 2px;
}

#mpris * {
  min-width: 10px;
  font-size: 11px;
}

#bluetooth {
  font-size: 14px;
}

#custom-power {
  margin: 4px 5px 4px 1px;
  padding: 0 6px;
  background-color: {{ color3 }};
  border-radius: 10px;
  min-width: 15px;
}

#custom-notifications {
    color: {{ foreground }};
    font-size: 12px;
}

#custom-notifications:hover {
    color: {{ color3 }};
}

#temperature.critical {
  color: {{ color3 }};
}

#temperature {
  margin: 4px 2px;
  padding: 0 3px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}