#window {
  background-color: rgba(31,27,29, 0.8);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: "JetBrains Mono Nerd Font Mono", monospace;
}

#window #outer-box {}

#window #outer-box #input {
  background-color: rgba(31,27,29, 0.6);
  color: #C4DBE2;
  border: none;
  border-bottom: 1px solid rgba(31,27,29, 0.2);
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  border-radius: 1rem 1rem 0 0;
  outline: none;
  box-shadow: none;
}

#window #outer-box #input:focus,
#window #outer-box #input:focus-visible,
#window #outer-box #input:active {
  border: none;
  border-bottom: 1px solid rgba(31,27,29, 0.2);
  outline: none;
  box-shadow: none;
  background-color: rgba(31,27,29, 0.6);
}

#window #outer-box #scroll {}

#window #outer-box #scroll #inner-box {}

#window #outer-box #scroll #inner-box #entry {
  color: #C4DBE2;
  background-color: rgba(31,27,29, 0.1);
  padding: 0.6rem 1rem;
}

#window #outer-box #scroll #inner-box #entry #img {
  margin-right: 0.5rem;
}

#window #outer-box #scroll #inner-box #entry:selected {
  color: #C4DBE2;
  background-color: rgba(196,219,226, 0.1);
  outline: none;
}